@charset "utf-8";

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

#app {
  height: 100%;
}

h1 {
  color: red;
}

// Variables
$primary-color: #007bff; // Bleu Bootstrap
$secondary-color: #6c757d; // Gris Bootstrap
$message-bg-incoming: #f8f9fa; // Gris clair Bootstrap
$message-bg-outgoing: #dcf8c6; // Vert clair

// Mixins
@mixin message-style($bg-color) {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: $bg-color;
}

// Styles généraux
body {
  font-family: sans-serif;
}

.chat-window {
  height: -webkit-fill-available;
  overflow-y: auto;
  padding: 15px;
}

.chat-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

// Styles des messages
.message {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;

  &.incoming {
    justify-content: flex-start;

    .message-content {
      @include message-style($message-bg-incoming);
      margin-left: 10px;
    }
  }

  &.outgoing {
    justify-content: flex-end;

    .message-content {
      @include message-style($message-bg-outgoing);
      margin-right: 10px;
    }
  }

  .message-content {
    max-width: 70%;
  }
}

// Styles de la liste des bots
#bot-list {
  .list-group-item {
    cursor: pointer;
  }
}

// Styles de la zone de saisie
#message-input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#send-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-area {
  // Styles pour la zone de saisie (par exemple, ajouter un peu de padding)
  padding: 15px;
}

.input-group {
  padding: 15px;
}

.message {
  margin: 15px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

#message-bot {
  background-color: #007bff;
  margin-left: 20%;
}
#message-send {
  background-color: #6c757d;
  margin-right: 20%;
}

.list-group {
  list-style-type: none;
}

.bot-button {
  margin: 15px;
  background-color: red;
  border-radius: 5px;
  padding: 5px 15px;
  border: none;
}

.active {
  background-color: green;
}